/.idea/.idea.CParser/.idea/encodings.xml
/.idea/.idea.CParser/.idea/shelf/Uncommitted_changes_before_Update_at_23_11_19_21_31_[Changes]/shelved.patch
/.idea/.idea.CParser/.idea/shelf/Uncommitted_changes_before_Update_at_23_11_19_21_31_[Changes]1/shelved.patch
/.idea/.idea.CParser/.idea/shelf/Uncommitted_changes_before_Update_at_23_11_19_21_31__Changes_.xml
/.idea/.idea.CParser/.idea/shelf/Uncommitted_changes_before_Update_at_23_11_19_21_31__Changes_1.xml
